 #title{
  background-color: #FFCAD4;
}
h1{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: left;
}
h2{
  font-size: 2.5rum;
}
.Container-fluid{
  padding: 3% 15%;
}
body{
  font-family: "Ubuntu"
}
h3{
  font-weight: bold;
  text-align: center;
}
p{
  text-align: center;
  font-family: "Ubuntu"
  color:#1D24CA;
}
#features{
  padding: 7% 15%;
  text-align: center;
}
#testimonials{
background-color:#5E1675;
text align:center;
padding:3% 15%;
color:#fff;
font-family: "center"
}

#pricing{
  text-align: center;
  padding:75px;

}
#cta{
  text-align: center;
  background-color: #E253;

}
#footer{
  text-align: center;
  background-color: #E253;

}
.card-deck{
  padding:5%;
  font-family: "Ubuntu"
}
